# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/tema2/solid/nbproject/private/
/tema2/solid_antes/nbproject/private/
/tema2/solid_antes/build/
/tema3/creacionales/Singleton/nbproject/private/
/tema3/creacionales/Singleton/build/
/tema3/creacionales/Factory/nbproject/private/
/tema3/creacionales/Factory/build/
/tema3/creacionales/AbstractFactory/nbproject/private/
/tema3/creacionales/AbstractFactory/build/
/tema3/creacionales/Prototype/nbproject/private/
/tema3/creacionales/Prototype/build/
/tema3/creacionales/Builder/nbproject/private/
/tema3/creacionales/Builder/build/
/tema3/estructurales/Adapter/nbproject/private/
/tema3/estructurales/Adapter/build/
/tema3/estructurales/Adapter/dist/
/tema3/estructurales/Proxy/nbproject/private/
/tema3/estructurales/Proxy/build/
/tema3/estructurales/Facade/nbproject/private/
/tema3/estructurales/Facade/build/
/tema3/estructurales/Composite/nbproject/private/
/tema3/estructurales/Composite/build/
/tema3/estructurales/Flywieght/nbproject/private/
/tema3/estructurales/Flyweight/nbproject/private/
/tema3/estructurales/Flyweight/build/
/tema3/estructurales/Bridge/nbproject/private/
/tema3/estructurales/Bridge/build/
/tema3/estructurales/Decorator/nbproject/private/
/tema3/estructurales/Decorator/build/